<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.web.house_list.mapper.HouseListMapper">
    <select id="getList" resultType="com.itmk.web.house_list.entity.HouseList">
        SELECT 
            hb.build_id,
            hb.`name`,
            hu.unit_name,
            hl.*,
            c.company_name AS companyName
        FROM 
            house_list AS hl
        LEFT JOIN 
            house_unit AS hu ON hl.unit_id = hu.unit_id
        LEFT JOIN 
            house_building AS hb ON hu.build_id = hb.build_id
        LEFT JOIN
            sys_company AS c ON hl.company_id = c.company_id
        <where>
            <if test="parm.buildNme != null and parm.buildNme !=''">
                AND hb.name LIKE CONCAT('%',#{parm.buildNme},'%')
            </if>
            <if test="parm.unitName != null and parm.unitName !=''">
                AND hu.unit_name LIKE CONCAT('%',#{parm.unitName},'%')
            </if>
            <if test="parm.houseNum != null and parm.houseNum !=''">
                AND hl.house_num LIKE CONCAT('%',#{parm.houseNum},'%')
            </if>
            <if test="parm.status != null and parm.status !=''">
                AND hl.status = #{parm.status}
            </if>
            <if test="parm.companyId != null">
                AND hl.company_id = #{parm.companyId}
            </if>
        </where>
        ORDER BY hl.house_id DESC
    </select>
</mapper>