<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.web.house_unit.mapper.HouseUnitMapper">
    <select id="getList" resultType="com.itmk.web.house_unit.entity.HouseUnit">
        SELECT 
            hu.*,
            hb.name,
            c.company_name AS companyName
        FROM 
            house_unit hu
        LEFT JOIN 
            house_building hb ON hu.build_id = hb.build_id
        LEFT JOIN
            sys_company c ON hu.company_id = c.company_id
        <where>
            <if test="parm.unitName != null and parm.unitName != ''">
                AND hu.unit_name LIKE CONCAT('%', #{parm.unitName}, '%')
            </if>
            <if test="parm.buildNme != null and parm.buildNme != ''">
                AND hb.name LIKE CONCAT('%', #{parm.buildNme}, '%')
            </if>
            <if test="parm.companyId != null">
                AND hu.company_id = #{parm.companyId}
            </if>
        </where>
        ORDER BY hu.unit_id DESC
    </select>
</mapper>